* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    background: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

img {
    width: 100%;
}

#nav-container{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;    
    box-shadow: 0px 3px 6px #6971811A;    
    position: sticky;
    top: 0;
    width: 100%;   
    background: #FFFFFF;
    z-index: 3;
}

#main-container{
    max-width: 1144px;
    margin: 0 auto;
    padding: 0px 30px;

}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.m-0{
    margin: 0 !important;
}

.m-t-60{
    margin-top: 60px;
}

.m-t-100 {
    margin-top: 100px;
}

.m-10{
    margin: 10px;
}

.m-b-35{
    margin-bottom: 35px;
}

.m-b-20{
    margin-bottom: 20px;
}

.m-b-10{
    margin-bottom: 10px;
}

.m-b-30{
    margin-bottom: 30px;
}

.m-b-40{
    margin-bottom: 40px;
}

.m-b-60{
    margin-bottom: 60px;
}

.m-r-9{
    margin-right: 9px;
}

.m-r-20{
    margin: 0 20px 0 0;
}

.m-5{
    margin: 5%;
}

.m-b-15{
    margin-bottom: 15px;
}

.t-a-r{
    text-align: right;
}

.t-a-l{
    text-align: left;
}

.t-a-c{
    text-align: center;
}


.sub-link{
    padding-left: 30px;
    color: #494D59;
    text-decoration: none;
    text-transform: uppercase;
    font: Bold 12px Lato;        
}

#sub-link-container{
    order: 2;
}
  
.logo {
    font-size: 22px;    
}

.logo > img {
    width: 144px;
}

.button {
    border-radius: 5px;
    width: fit-content;
    background-origin: padding-box;
    cursor: pointer;
    transition: 0.5s;
    line-height: 1.15;
    border: 0px;
}

.btn-get-started{
    background: #494D59;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 7px 22px;
}

.btn-get-started-big{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 22px;
}



.btn-how-it-works, .btn-view-openings{
    margin-top: 40px;
    text-align: left;
    padding: 14px 20px;
    font-size: 14px;
}

.btn-speak-to-expert{
    text-align: left;
    padding: 13px 20px;
    font-size: 14px;
    border: 1px solid #EFEEF0;
    margin: 5px;
    background-color: transparent;
}

.btn-how-it-works,.btn-get-started-big.bg-yellow.color-white{
    background: #FFA600;
    color: white;
}

.btn-view-openings.bg-violet.color-white{
    background: #0E106A;
    color: white;
}



.btn-how-it-works.border-violet{
    color: #0E106A;
    border: 1px solid #0E106A;
    font-weight: 700;
}

.toggle{
    display: none;
}

a.sub-link.active {
    display: block;
}

.row {  
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.col {  
    display: flex;
    flex-direction: column;
}

.items-flex-start{
    align-items: flex-start;    
}

.items-flex-end{
    align-items: flex-end;    
}

.items-flex-center{
    align-items: center;    
}

.flex-direction-column{
    flex-direction: column;
}

.flex-justification-start{
    justify-content: flex-start;
}

.flex-justification-center{
    justify-content: center;
}

.flex-justification-start{
    justify-content: flex-start;
}

.flex-justification-end{
    justify-content: flex-end;
}

.flex-justification-space-between{
    justify-content: space-between;
}

.flex-justification-space-around{
    justify-content: space-around;
}

.flex-no-wrap{
    flex-wrap: nowrap;
}

.value-prop-statement{
    order: 1;
    flex-basis: 39%;
    padding: 136px 0px;

    
}

h1{
    font-size: 46px;
    font-weight: 900;
    text-align: left;
    line-height: 56px;   
    color: #0E106A;
}

.color-white{
    color: white !important;
}

.color-silver{
    color: #EFEEF0 !important;
}

.color-dark-silver{
    color:#494D59;
}

h3{
    margin-top: 20px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    color: #0E106A;
    line-height: 28px;
}

h2{
    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
    color: #0E106A;
    line-height: 40px;
}

h4{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #494D59;
    font-weight: 600;    
}

h5{
    text-align: left;
    font-size: 14px;
    color: #494D59;
    font-weight: 400;
    line-height: 23px;    
}

h6{
    font-weight: 400;
    font-size: 12px;
    color: #494D59;
    text-align: center;
}

.value-prop-image{
    order: 2;
    flex-basis: 45%;
}

.value-prop-image img {
    width: 100%;
}

.btn-how-it-works a, .btn-speak-to-expert a{
    margin-right: 17px;
}

#customers-section{
    margin: 90px;
}

#quick-use-cases-section{
    background: #F6FAFD 0% 0% no-repeat padding-box;
}

.quick-use-case-statement{
    flex-basis: 40%;
}

.quick-use-case-box{
    flex-basis:35%;
    height:270;
    margin: 0px 30px;
    padding: 30px;
    box-shadow: 0px 8px 20px #6971811A;    
    background: #FFFFFF;    
}

.learn-more{
    color: #53679B;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.arrow{
    font-size: 12px !important;
}

.quick-use-case-icons{
    display: flex;
    align-items: center;
}

.quick-use-case-icon-devider {
    width: 13px;
    border-bottom: 1px solid #BFBDC1;
    margin: 5px
}

.quick-use-case-icon{
    height:44px;
    width:44px;
    border: 1px solid #BFBDC1;
    border-radius: 6px;
    padding: 6px;
}

.quick-use-case-icon > img {
    width: 30px;
    height: auto;
}

.cta-1-image{
    position: absolute;
    z-index: 2;    
    width: 128px;
    left: -15px;
    bottom: 0;    
}


.cta-1-image > img {
    width: 100%;  
}

.cta-1-content{
    position: relative;
    background: #0E106A;
    flex-basis: 100%;
    z-index: 1;    
    padding: 30px 40px;
}


.cta-1-content-explanation{
    flex-basis: 30%
}

.cta-1-content-form{
    flex-basis: 60%; 
}



.email-input{
    border: 1px solid #EFEEF0;
    background: none;
    padding: 13px 20px;
    border-radius: 4px;
    max-width: 230px;
}

::placeholder{
    color: #EFEEF0;
}

.notify-email{
    margin: 10px;
}

#floating-image-container{
    display: flex;
    max-width: 1366px;
    position: relative;
    width: 1366px;
    justify-content: flex-end;    
}

#floating-image-container > img{
    height: 95px; 
    position: absolute;
    right: -25px;
    top: 550px;    
}

#container-canvas{
    max-width: 1450px; 
    margin: 0 auto;
    overflow-x: hidden;
}

.feature-description{
    flex-basis: 50%;
}

.feature-section{
    height: auto;     
    margin: 0 120 0 0;
}

.feature-section > img{
    height: 48px;
    width: 48px;
}

#footer-cta-1-section{
    background: #0E106A;
    padding: 60px 0px;
}

.highlight-text{
    color: #FFA600;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

#footer-section{
    background: #EFEEF0;
    padding: 60px 0px;
}

#copy-right-container{
    width: 100%;
    border-top: 1px solid #BFBDC1;
    border-bottom: 1px solid #BFBDC1;
    margin-top: 40px;
    margin-bottom: 60px;    
}

.qw-footer{
    padding: 25 0;
}

.qw-copyright{
    color: #494D59;
    line-height: 20px;
    font-weight: 400;
    font-size: 10px;
}

.social-media-icons > img {
    margin-left: 30px;
}


/* ABOUT US PAGE */

#about-us-section{
    background: #F6FAFD;
}

.about-us-content {
    flex-basis: 50%;
}

.admin-panel-image {
    flex-basis: 45%;
}

.admin-panel-image > * {
    width: 100%;
}


.about-us-statements{
    margin-top: 170px;
}

.about-us-statement-container{
    flex-basis: 55%;
}

.vision-statement, .team-member{
    flex-basis: 25%;
    padding: 0 20px 0 0;
}

.team-statement{
    flex-basis: 21%;
}

.team-statement-heading{
    font-size: 22px;
    font-weight: 700;
}

.team-designation{
    background: #53679B;
}

.team-designation{
    padding: 20px;
    flex-basis: 100%;
}

.single-team-member > img {
    width: 100%;
}


.cta-2-content{
    position: relative;
    background: #EFEEF0;
    flex-basis: 100%;
    z-index: 1;    
    padding: 50px 40px 50px 305px;
}

.cta-2-content-explanation{
    flex-basis: 25%
}


.cta-2-image{
    position: absolute;
    z-index: 2;    
    width: 255px;
    left: 35px;
    bottom: 0;    
}

.cta-2-image > img {
    width: 100%;  
}


#footer-cta-2-section{
    background: #494D59;
}

@media all and (max-width: 1240px) {
    .logo{
        margin-right: 250px;
    }

    .cta-2-content-explanation{
        flex-basis: 40%;
    }
}

@media all and (max-width: 980px) {
    .logo{
        margin-right: 20px;
    }

    .cta-2-content-explanation{
        flex-basis: 60%;
    }

    #customers-section {
        margin: 0px;
    }

    .quick-use-case-box{
        margin-left: 10px;
        margin-right: 10px;
        height: auto;
    }    
}

@media all and (max-width: 795px) {


 

    .row{
        margin-top: 15px;
        justify-content: center  !important;
        align-items: center !important;
        flex-wrap: wrap !important;
    }

    .col{
        justify-content: center  !important;
        align-items: center !important;
    }

    .row > * {
        margin: 10px !important;
        padding: 0;
    }

    h1,h2,h3{
        text-align: center !important;
    }

    .mobile-full-width {
        flex-basis: 100%;
    }

    #nav-container{
        padding: 0;
    }

    #value-prop-section{
        margin-top: 50px;
    }

    .nav{
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        display: flex;
        margin: 10px 20px;
    }
    .logo{
        margin: 0px;
    }    
    a.sub-link{
        padding: 0px;
    }      
    .toggle {
        display: block;
        order: 1;
    }  

    #sub-link-container{
        width: 100%;
    }

    .sub-link{
        text-align: center;
        display: none;        
        margin-top: 10px;
    }  
    .button.btn-get-started{
        display: none;
    }

    .cta-1-image{
        display: none;
    }

    .cta-2-image{
        display: none;
    }    

    .cta-1-content{
        padding: 10px;
    }  
    
    .not-sure-question, .not-sure-answer{
        text-align: center;
    } 

    .cta-1-content-form{
        flex-basis: 100%; 
    }    

    .feature-section {
        width: 60%;
    }   
    
    .feature-section h5{
        text-align: center;
    }

    .vision-statement-container{
        flex-basis: 60%;
    }
}

section {
    padding: 40px 0px;
}

.features, .benefits {
    flex-basis: 45%;
}

section#features .feature-image, section#benefits .feature-image {
    flex-basis: 40%;
}

section#benefits .feature-image {
    order: 2;
}

section#features .feature-points {
    flex-basis: 40%;
}

.features-points {
    flex-basis: 50%;
}

/* .features-points .feature {
    flex-basis: 45%;
    margin-bottom: 30px;
} */

.case-study {
    flex-basis: 30%;
    box-shadow: 0px 3px 6px 7px #6971811A; 
}

.case-study-description {
    padding: 20px;
}

.demo-form {
    padding: 20px;
    max-width: 700px;
    margin: 40px auto;
    box-shadow: 0px 3px 6px 7px #6971811A; 
}

.demo-form input {
    width: 100%;
    max-width: unset;
}
