<qw-navbar></qw-navbar>


<!-- VALUE PROPOSITION SECTION -->
<section id="value-prop-section">
    <div id="main-container">
        <div class="row items-flex-center flex-justification-space-between m-0">
            <div class="row value-prop-statement mobile-full-width">
                <h1>Automate your <br> <span id="automationContent">{{title}}</span></h1>
                <h3>Let our chatbots help you generate more leads, boost conversations, and answer customer queries
                    24x7</h3>
                <!-- <button class="button btn-how-it-works bg-yellow color-white m-r-20">Request a Demo</button> -->
                <button class="button btn-how-it-works bg-yellow color-white" (click)="redirectTQWChat()">Get Started for free</button>
            </div>
            <div class="value-prop-image">
                <img class="full-width" src="./assets/images/h-image.png" />
            </div>
        </div>
    </div>
</section>



<section id="features">
    <div id="main-container">
        <h1 class="t-a-c">Amazing features</h1>
        <h3 class="t-a-c">You’ll love Quickwork Chat once got familiar with the strength-building key elements that
            Quickwork Chat holds in it</h3>
            <div class="grid feature-section-container">
                <div class="feature-section">
                    <img class="m-b-20" src="../../../../assets/images/bot.svg" />
                    <h4 class="m-b-20">Bot</h4>
                  
                </div>
                <div class="feature-section">
                    <img class="m-b-20" src="../../../../assets/images/robot.svg" />
                    <h4 class="m-b-20">Multilingual</h4>
               
                </div>
                <div class="feature-section">
                    <img class="m-b-20" src="../../../../assets/images//omni-channel.svg" />
                    <h4 class="m-b-20">Omnichannel</h4>
                    
                </div>
                <div class="feature-section">
                    <img class="m-b-20" src="../../../../assets/images//human hybrid.svg" />
                    <h4 class="m-b-20">Bot-Human Hybrid</h4>
                    
                </div>
                <div class="feature-section">
                    <img class="m-b-20" src="../../../../assets/images//configuration.svg" />
                    <h4 class="m-b-20">Configurable UI</h4>
                    
                </div>
                <div class="feature-section">
                    <img class="m-b-20" src="../../../../assets/images//mail-on-cloud.svg" />
                    <h4 class="m-b-20">Run on cloud or Server</h4>
                    
                </div>
                <div class="feature-section">
                        <img class="m-b-20" src="../../../../assets/images//integration.svg" />
                        <h4 class="m-b-20">Integration</h4>
                    </div>
                       
                <div class="feature-section">
                        <img class="m-b-20" src="../../../../assets/images//bot (3).svg" />
                        <h4 class="m-b-20">Bot Builder</h4>
                        
                    </div>
                    <div class="feature-section">
                        <img class="m-b-20" src="../../../../assets/images//broadcast-communications-tower.svg" />
                        <h4 class="m-b-20">Braodcast</h4>
                    </div>
                    <div class="feature-section">
                        <img class="m-b-20" src="../../../../assets/images//sdk.svg" />
                        <h4 class="m-b-20">Mobile sdk Bot sdk</h4>
                        
                    </div>
                  
                    
                    
                 
                   
                    
         

                
            </div>
    </div>
</section>



<!-- <section id="benefits">
    <div id="main-container">
        <h1 class="t-a-c">Deserving benefits</h1>
        <h3 class="t-a-c">Enjoy some mindblowing benefits that Quickwork Chat serves you and your peers for life.
        </h3>
        <div class="row items-flex-center flex-justification-space-between">
            <div class="feature-image">
                <img class="full-width" src="./assets/images/Benefits.PNG" alt="">
            </div>
            <div class="row features-points items-flex-start flex-justification-space-between m-0">
                <div class="feature" *ngFor="let benefit of benefits">
                    <h4 class="feature-title">{{benefit.title}}</h4>
                    <h5 class="feature-description">{{benefit.description}}</h5>
                </div>
            </div>
        </div>
    </div>
</section> -->




<section id="about-us">
    <div id="main-container">
        <h1 class="t-a-c">Who we are</h1>
        <div class="row items-flex-start flex-justification-space-between">
            <div class="about-us-content">
                <h3 class="m-0">
                    Quickwork Chat is a messenger service available for cross-platforms with the power to clear all the
                    doubts a user has while going through an app or a website. It curates information, answers the
                    questions, captures contacts and traps location instantly.
                    <br><br>
                    Quickwork Chat is a smart chatbot. Leveraging artificial intelligence AI functionality
                    and natural language processing (NLP), Quickwork Chat is able to gain knowledge quickly and
                    answer hundreds of questions over time.
                    <br><br>
                    You can build, integrate, and launch Quickwork Chat on your website or app in 10 minutes or
                    less.
                </h3>
                <button class="button btn-how-it-works bg-yellow color-white">Start your free trial now</button>
            </div>
            <div class="admin-panel-image">
                <video class="full-width" controls autoplay>
                    <source src="./assets/videos/dex.mp4" type="video/mp4">
                </video>
                <!-- <img class="full-width" src="./assets/images/QM Admin Panel.png" alt=""> -->
            </div>
        </div>
    </div>
</section>

<section id="case-studies">
        <div id="main-container">
            <h1 class="t-a-c">Our popular case studies</h1>
            <h3 class="t-a-c">Read through some of the examples of how our clients adopt conventional marketing
                strategies to obtain cent-percent results</h3>
            <div class="row items-flex-center flex-justification-space-between">
                <div class="case-study-image">
                    <img class="full-width" src="./assets/images/2.2.png" alt="">
                </div>
                <div class="row features-points items-flex-start flex-justification-space-between m-0">
                    <div class="feature" *ngFor="let caseStudy of caseStudies">
                        <h4 class="feature-title line-height">{{caseStudy.title}}</h4>
                        <h5 class="feature-description">{{caseStudy.description}}</h5>
                        <button class="button btn-how-it-works bg-yellow color-white m-t-10">
                            <a>Download Report</a>
                            <i class="fa fa-long-arrow-right arrow" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- <section id="features">
    <div id="main-container">
        <h1 class="t-a-c">Amazing features</h1>
        <h3 class="t-a-c">You’ll love Quickwork Chat once got familiar with the strength-building key elements that
            Quickwork Chat holds in it</h3>
        <div class="row items-flex-center flex-justification-space-between">
            <div class="feature-image">
                <img class="full-width" src="./assets/images/features.png" alt="">
            </div>
            <div class="row features-points items-flex-start flex-justification-space-between m-0">
                <div class="feature" *ngFor="let feature of features">
                    <h4 class="feature-title">{{feature.title}}</h4>
                    <h5 class="feature-description">{{feature.description}}</h5>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section id="demo">
    <div id="main-container">
        <h1 class="t-a-c">Request a demo!</h1>
        <h3 class="t-a-c">Get a personalized demo with our expert to get you started</h3>
        <div class="demo-form">
            <form action="">
                <div class="fields m-b-40">
                    <p class="m-b-20"> Name <span class="req-asterisk">*</span></p>
                    <input class="email-input" type="text">
                </div>

                <div class="fields m-b-40">
                    <p class="m-b-20"> Email <span class="req-asterisk">*</span></p>
                    <input class="email-input" type="text">
                </div>

                <div class="fields m-b-40">
                    <p class="m-b-20"> Contact Number <span class="req-asterisk">*</span></p>
                    <input class="email-input" type="text">
                </div>

                <button class="button btn-how-it-works bg-yellow color-white m-0">
                    <a>Submit</a>
                    <i class="fa fa-long-arrow-right arrow" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>
</section> -->


<div id="footer-cta-1-section">
    <div id="main-container" class="t-a-c">
        <div class="highlight-text m-b-20">Ready to serve your customers?</div>
        <h2 class="color-silver m-0">Allow us to virtually assist them, 24x7, and smoothen the customer journey
            delightedly</h2>
        <form #formData="ngForm" (submit)="submit()" class="row flex-justification-center items-flex-end full-width">
            <div class="notify-email">
                <p class="t-a-l color-white m-b-10">Name</p>
                <input class="email-input color-silver" ngModel type="text" placeholder="Name" name="name" ngModel required>
            </div>
            <div class="notify-email">
                <p class="t-a-l color-white m-b-10">Email</p>
                <input class="email-input color-silver" ngModel type="email" placeholder="Email" name="email" ngModel email required>
            </div>
            <button [disabled]="formData.invalid" class="button btn-speak-to-expert color-silver">
                <a>Create free account</a>
                <i class="fa fa-long-arrow-right arrow" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>


<qw-footer></qw-footer>



