<div id="footer-section">
    <div id="main-container">
        <div class="row vision-statement-container flex-justification-space-between flex-wrap m-0">

            <div class="col">
                <div class="logo">
                    <img src="../../../assets/images/qw-logo.png" />
                </div>
            </div>
            <div class="col">
                <h6 class="m-b-20">PRODUCT</h6>
                <h5 class="footer-link">Automations</h5>
                <h5 class="footer-link">Features</h5>
                <h5 class="footer-link">App Directory</h5>
                <h5 class="footer-link" routerLink="/pricing">Pricing</h5>
            </div>

            <div class="col">
                <h6 class="m-b-20">RESOURCES</h6>
                <h5 class="footer-link">Case Studies</h5>
                <h5 class="footer-link">Blog</h5>
            </div>

            <div class="col">
                <h6 class="m-b-20">COMPANY</h6>
                <h5 class="footer-link" routerLink="/about-us">About Us</h5>
                <h5 class="footer-link">Careers</h5>
                <h5 class="footer-link">FAQs</h5>
                <h5 class="footer-link" routerLink="/contact-us">Contact Us</h5>
                <h5 class="footer-link">Legal</h5>
            </div>



            <div class="col">
                <h6 class="m-b-20">Subscribe to our newsletter</h6>
                <h5 class="m-b-20">Subscribe to stay tuned with our regular updates</h5>
                <div class="row m-0 flex-justification-space-between flex-wrap full-width">
                    <div class="notify-email">
                        <input class="email-input" type="email" placeholder="Enter Email Address">
                    </div>
                    <button class="button">
                        <a>Subscribe</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="copy-right-container">
            <div class="row m-0 qw-footer items-flex-center flex-justification-space-between">
                <div class="qw-copyright">
                    © Quickwork 2019
                    <a class="privacy-policy-link" target="_blank" routerLink="/privacy-policy">Privacy Policy</a>
                </div>
                <div class="social-media-icons">
                    <a href="https://www.youtube.com/watch?v=RFvsY5RFb9M" target="_blank">
                        <img src="../../../assets/images/Youtube.svg" />
                    </a>
                    <a href="https://twitter.com/quickworkco" target="_blank">
                        <img src="../../../assets/images/Twitter.svg" />
                    </a>
                    <a href="https://www.facebook.com/quickwork.co/" target="_blank">
                        <img src="../../../assets/images/Facebook.svg" />
                    </a>
                    <a href="https://www.instagram.com/quickwork.co/" target="_blank">
                        <img src="../../../assets/images/Exclusion 8.svg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>